<html>

<head>
    <meta charset="UTF-8">
    <title>Auction Port</title>
    <link rel="stylesheet" href="/login.css">
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<style>
    body {
      background-image: url('bg.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;  
      background-size: cover;
    }
   </style>

<body>
    <div class="container">
        <input type="checkbox" id="flip">
        <div class="cover">
            <div class="front">
                <img src="/register.jpg" alt="">                
            </div>
        </div>
        <div class="forms">
            <div class="form-content">
                <div class="signup-form">
                    <div class="title">Signup</div>
                    <form action="/student/register" method="post">
                        <td class="input-boxes">
                            <div class="input-box">
                                <i class="fas fa-user"></i>
                                <input type="text" name="regNo" placeholder="Register Number" required>
                            </div>
                            <div class="input-box">
                                <i class="fas fa-user"></i>
                                <input type="text" name="name" placeholder="Enter your name" required>
                            </div>
                            <div class="input-boxes1">
                                <i class="fas fa-user"></i>
                        <td>
                            <input type="radio" name="gender" value="male">Male&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="gender" value="female"> Female
                            <input type="radio" name="gender" value="other"> Other
                        </td>
                </div>
                <div class="input-box">
                    <p>Choose campus </p>
                    <td><select name="college">
                            <option value="CEG">CEG</option>
                            <option value="MIT">MIT</option>
                            <option value="ACT">ACT</option>
                            <option value="SAP">SAP</option>
                        </select></td>
                </div>
                <div class="input-box">
                    <p>Choose department </p>
                    <td><select name="dept">
                            <option value="CSE">CSE</option>
                            <option value="IT">IT</option>
                            <option value="ECE">ECE</option>
                            <option value="EEE">EEE</option>
                            <option value="CIVIL">CIVIL</option>
                            <option value="MECH">MECH</option>
                        </select></td>
                </div>
                
                <div class="input-box">
                    <i class="fas fa-envelope"></i>
                    <input type="text" name="email" placeholder="Enter your email" required>
                </div>
                <div class="input-box">
                    <i class="fas fa-user"></i>
                    <input type="text" name="contactNo" placeholder="Contact Number" required>
                </div>
                <div class="input-box">
                    <i class="fas fa-lock"></i>
                    <input type="password" name="password" placeholder="Enter your password" required>
                </div>

                <div class="button input-box">
                    <input type="submit" value="Submit">
                </div>
                <div class="text sign-up-text">Already have an account? <a href="/login">Login now</a></div>
            </div>
            </form>
        </div>
    </div>
    </div>
    </div>
</body>

</html>