
<html>

<head>
    <title>Online Auction System</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body style="background-image: url(/bg.jpg); overflow: hidden;">
    <!-- Logo -->
    <div class="container-flex d-flex justify-content-between align-items-center" style="background-color: rgba(255, 255, 255, 0.4);">
        <div class="p-4 justify-content-center" style="max-width: 40vw; height: 20vh;"><a href="/"><img src="/logo1.png" height="100%"></a></div>
        <form action="/student/logout" method="post">
            <button type="submit" class="btn btn-info align-self-center">Logout</button>
        </form>>
    </div>

    <!-- Proceed options -->
    <div class="d-flex flex-row justify-content-around mx-auto p-5">
        <!-- Proceed as bidder -->
        <div>
            <a href="/browse">
                <div class="card">
                    <img src="/bidder.jpg" alt="" class="card-img-top" width="350" height="350">
                    <h5 class="card-title display-5 text-center my-1"> Proceed as Bidder</h5>
                </div>
            </a>
        </div>
        <!-- Proceed as seller -->
        <div>
            <a href="/">
                <div class="card">
                    <img src="/seller.jpg" alt="" class="card-img-top" width="350" height="350">
                    <h5 class="card-title display-5 text-center my-1"> Proceed as Seller</h5>
                </div>
            </a>
        </div>
    </div>


    <!-- Footer -->
    <div class="container-fluid text-center mt-2 p-4"
        style="background-color: rgba(255, 255, 255, 0.4);position: relative; ">
        <div class="i-bar"
            style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content:center; margin-bottom: 2em;">
            <a class="fa fa-facebook " href="#"
                style="border: none; text-decoration: none;  margin: 0em 1em; color:black; font-size: xx-large;"></a>
            <a class="fa fa-linkedin" href="#"
                style="border: none; text-decoration: none;  margin: 0em 1em; color:black; font-size: xx-large;"></a>
            <a class="fa fa-envelope " href="#"
                style="border: none; text-decoration: none;  margin: 0em 1em; color:black; font-size: xx-large;"></a>
        </div>
        <p class="credit" style="font-size: 20px; font-stretch: 3px; text-align: center; color: black;">
            © AUCTION PORT
        </p>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>